{% extends "base.html" %}

{% block main %}
<div class="profile">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="app.css")}}">

	<div class="prohead">
		<br>	
		<img src="{{url_for('static', filename='ProfilePhoto.jpg')}}" alt="ProfilePhoto" class="photo" />
		<br>
		<h1>Deidre-Ann Jemison</h1>
		<h2>@jemScapades</h2>
		<h2>Kingston,Jamaica</h2>
		<h2>Joined {{date}}</h2>
	</div>
	<br>

	<div class="probody">
		<p>I'm Young , vibrant and a bit introverted. I'm a self-certified Foodie, bootleg Hair and Makeup artist and an Anime enthusiast!! Lol :D </p>
		
		<br>
		<br>
		<div class="followers">	
			<p><strong>&emsp;7&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;100&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;250</strong><br>&emsp;&emsp;Posts&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Following&emsp;&emsp;&emsp;&emsp;&emsp;Followers</p>
  		</div>
  	
  		<br>
  		<div class="follow">
        	<button class="btn">Follow</button>
    	</div>	
	</div>
</div>
{% endblock %}


